language: node_js
branches:
  only:
    - master
    - /^greenkeeper/.*$/
cache:
  diretories:
    - node_modules
notifications:
  email: false
node_js:
  - node
before_script:
  - npm prune
script:
  - npm run cover
  - npm run check-coverage
  - npm run build
after_success:
  - npm run report-coverage
  - npm run semantic-release
