language: node_js
node_js:
  - '6.3'
  - '6.2'
  - '6.1'
  - '6'
before_install:
  - 'npm install -g npm@latest'
  - 'npm install -g coveralls@2'
after_success:
  - 'nyc report --reporter=text-lcov | coveralls'
